<div class="title">Configuration</div>

<div class="text">
  The configuration used for a request defines which solr core(s) are
  used to process the requests. Since the solr schema for these cores
  describe the available fields and their properties, the broker can try to
  derive which configurations can be used for a <a
    data-tab="introduction">request</a>.
</div>

<br />

<div class="important">If no specific configuration is defined, the broker will try to find and use the 
first configuration containing all necessary fields</div>
  
<br />  

<div class="text">
<strong>Available configurations</strong><br />
Currently, the following configurations are available. 
</div>   

<br />
   
<div class="text">::configurationTableShort::</div>

<br />

<div class="text">with the following fields</div>

<br />

<div class="text">::configurationTableLong::</div>
