<div class="title">Expansion</div>


<div class="text">
<strong>Available expansions</strong><br />
Currently, the following expansions are available. 
</div>   

<br />
   
<div class="text">::expansionTable::</div>

<br />

<div class="text">A <em>expansion</em> within a <a data-tab="condition">condition</a> or <a data-tab="mtas statistics">statistics</a> is of the form</div>

<div class="code">
  <pre>{
  <span class="obligatory">"type" : "string",</span>
  <span class="optional">"parameters" : {</span>
  <span class="optional">  "parameter1" : &lt;parameterValue&gt;</span>,
  <span class="optional">}</span>,
}</pre>
</div>