<div class="title">Response</div>

<div class="text">
  A response occurs within a <a data-tab="introduction">request</a>, and
  is of the form
</div>

<div class="code">
  <pre>{
  <span class="optional">"documents" : &lt;documents&gt;</span>,
  <span class="optional">"facets" : &lt;facets&gt;</span>,
  <span class="optional">"stats" : &lt;boolean&gt; / &lt;stats&gt;</span>,
  <span class="optional">"mtas" : &lt;mtas&gt;</span>,
}</pre>
</div>

<div class="text">
  See <a data-tab="documents">documents</a> , <a data-tab="facets">facets</a>, <a data-tab="stats">stats</a>
  and <a data-tab="mtas">mtas</a>
</div>

