<div class="title">Documents</div>

<div class="text">
  The documents section occurs within the <a data-tab="response">response</a>,
  and describes the list of documents that should be included in the
  response. The documents section is of the form
</div>

<div class="code">
  <pre>{
  <span class="optional">"start" : &lt;integer&gt;</span>,
  <span class="optional">"rows" : &lt;integer&gt;</span>,
  <span class="optional">"fields" : [&lt;fielditem&gt;,...]</span>,
}</pre>
</div>

<div class="text">
  With <em>start</em> and <em>rows</em> the subset of documents can be
  selected from the complete set of documents matching <a
    data-tab="filter">filter(s)</a> and <a data-tab="condition">condition</a>.
  The optional <em>fields</em> defines a list of <a
    data-section="fielditem">fielditems</a>.
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Basic example</button>
        <div class="json">{ "response": { "documents": { "start":
          0, "rows": 10, "fields": [ "::uniqueKey::" ] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> for
        the first 10 documents.
      </td>
    </tr>
  </table>
</div>

<hr />

<div class="subtitle" data-section="fielditem">Fielditems</div>

<div class="text">
  Three types of <em>fielditem</em> can be distinguished
</div>

<div class="text">
  <ul>
    <li><a data-section="field">field</a></li>
    <li><a data-section="fieldfunction">fieldfunction</a></li>
    <li><a data-section="fieldjoin">fieldjoin</a></li>
  </ul>
</div>

<hr />

<div class="subtitle" data-section="field">Field</div>

<div class="text">
  A <em>field</em> is a string containing a Solr field name.
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'field'</button>
        <div class="json">{ "response": { "documents": { "fields":
          [ "::uniqueKey::" , "::exampleFieldText(fieldName)::"] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> and <em>::exampleFieldText(fieldName)::</em>
        for the first 10 documents.
      </td>
    </tr>
  </table>
</div>

<div class="text">
  Usage of <em>transformers</em> and <em>aliases</em> is supported.
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'field' with 'transformer'</button>
        <div class="json">{ "response": { "documents": { "fields":
          [ "::uniqueKey::" , "[docid]"] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> and
        docId for the first 10 documents.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'field' with 'alias'</button>
        <div class="json">{ "response": { "documents": { "fields":
          [ "::uniqueKey::" ,
          "aliasName:::exampleFieldText(fieldName)::"] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> and <em>::exampleFieldText(fieldName)::</em>
        for the first 10 documents, and display <em>::exampleFieldText(fieldName)::</em>
        as <em>aliasName</em>.
      </td>
    </tr>
  </table>
</div>

<hr />

<div class="subtitle" data-section="fieldfunction">Fieldfunction</div>

<div class="text">
  Several <em>fieldfunctions</em> are available, see the <a
    href="https://wiki.apache.org/solr/FunctionQuery#Available_Functions"
    target="_blank">Solr documentation</a> for more information.
</div>

<br />

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'fieldfunction' -
          'constant'</button>
        <div class="json">{ "response": { "documents": { "fields":
          [ "::uniqueKey::" , "constantName:1.234"] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> and
        constant <em>1.234</em> for the first 10 documents, and use <em>constantName</em>
        as name for this constant.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'fieldfunction' -
          'literal'</button>
        <div class="json">{ "response": { "documents": { "fields":
          [ "::uniqueKey::" , "literalName1:\"example1\"",
          "literalName2:'example2'"] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em>,
        literal <em>"example1</em> and literal <em>'example2'</em> for
        the first 10 documents, and use <em>literalName1</em> and <em>literalName2</em>
        as names for these literals.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'fieldfunction' -
          'function'</button>
        <div class="json">{ "condition" : {"field":
          "::exampleFieldInteger(fieldName)::", "type":"wildcard",
          "value":"*"}, "response": { "documents": { "fields": [
          "::uniqueKey::" , "::exampleFieldInteger(fieldName)::" ,
          "exampleFunction:sum(sqrt(::exampleFieldInteger(fieldName)::),1)"]
          }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em>, field
        <em>::exampleFieldInteger(fieldName)::</em> and the sum of the
        square root of <em>::exampleFieldInteger(fieldName)::</em> and
        1, using <em>exampleFunction</em> as name for this value.
      </td>
    </tr>
  </table>
</div>

<hr />

<div class="subtitle" data-section="fieldjoin">Fieldjoin</div>

<div class="text">
A join with other document(s) can be made based on the value of a field.
</div>

<div class="code">
  <pre>{
  <span class="obligatory">"type" : "join"</span>,
  <span class="obligatory">"name" : &lt;string&gt;</span>,
  <span class="obligatory">"from": &lt;string&gt;,</span>
  <span class="obligatory">"to": &lt;string&gt;,</span>
  <span class="optional">"configuration" : &lt;string&gt;,</span>
  <span class="optional">"filter" : &lt;<a data-tab="condition">filter</a>&gt;,</span>
  <span class="optional">"condition" : &lt;<a data-tab="condition">condition</a>&gt;,</span>
  <span class="obligatory">"fields" : [&lt;fielditem&gt;,...]</span>,
}</pre>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'fieldjoin'</button>
        <div class="json">{ "response": { "documents": { "start":
          0, "rows": 10, "fields": [ "::uniqueKey::", 
          "::exampleFieldText(fieldName)::",
          {"type": "join", "name": "join name", "from": "::uniqueKey::", "to":"::uniqueKey::", "fields": ["::exampleFieldText(fieldName)::"]}] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> and field <em>::exampleFieldText(fieldName)::</em> 
      for the first 10 documents, and join based on <em>::uniqueKey::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'fieldjoin' - 'nested'</button>
        <div class="json">{ "response": { "documents": { "start":
          0, "rows": 10, "fields": [ "::uniqueKey::", 
          "::exampleFieldText(fieldName)::",
          {"type": "join", "name": "join name", "from": "::uniqueKey::", "to":"::uniqueKey::", "fields": ["::exampleFieldText(fieldName)::", 
          {"type": "join", "name": "join name", "from": "::uniqueKey::", "to":"::uniqueKey::", "fields": ["::exampleFieldText(fieldName)::"]}]}] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> and field <em>::exampleFieldText(fieldName)::</em> 
      for the first 10 documents, and join twice based on <em>::uniqueKey::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'fieldjoin' - 'filter'</button>
        <div class="json">{ "response": { "documents": { "start":
          0, "rows": 10, "fields": [ "::uniqueKey::", 
          "::exampleFieldText(fieldName)::",
          {"type": "join", "name": "join name", "from": "::uniqueKey::", "to":"::uniqueKey::", 
          "filter": {"condition": {"type": "equals", "field": "::exampleFieldText(fieldName)::", "value" : "::exampleFieldTextValue1(word)::"}},
          "fields": ["::exampleFieldText(fieldName)::"]}] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> and field <em>::exampleFieldText(fieldName)::</em> 
      for the first 10 documents, and join based on <em>::uniqueKey::</em> when field <em>::exampleFieldText(fieldName)::</em> 
      contains a term equal to '::exampleFieldTextValue1(word)::'.
      </td>
    </tr>
  </table>
</div>