<div class="title">Mtas Group</div>

<div class="text">
  The mtas group section occurs within the <a data-tab="mtas">mtas</a> section,
  and describes group results that should be included in the
  response for the set of documents matching condition and filter. 
  The mtas group section is of the form
</div>

<div class="code">
  <pre>[
  {
    <span class="obligatory">"field" : &lt;field&gt;</span>,
    <span class="obligatory">"query" : &lt;query&gt;</span>,
    <span class="obligatory">"grouping" : &lt;grouping&gt;</span>,
    <span class="optional">"number" : &lt;integer&gt;</span>,      
    <span class="optional">"start" : &lt;integer&gt;</span>,      
    <span class="optional">"key" : &lt;string&gt;</span>,       
  },... 
]</pre>
</div>

<div class="text">With <em>query</em> of the form</div>

<div class="code">
  <pre>{
  <span class="obligatory">"type" : &lt;string&gt;</span>,
  <span class="obligatory">"value" : &lt;string&gt;</span>,
  <span class="optional">"prefix" : &lt;string&gt;</span>,
  <span class="optional">"ignore" : &lt;string&gt;</span>,
  <span class="optional">"maximumIgnoreLength " : &lt;integer&gt;</span>,
  <span class="optional">"variables": &lt;variables&gt;</span>,
}</pre>
</div>

<div class="text">And <em>grouping</em> of the form</div>

<div class="code">
  <pre>{
  <span class="optional">"hit" : &lt;hit&gt;</span>,
  <span class="optional">"left" : [&lt;groupingItem&gt;,... ]</span>,
  <span class="optional">"right" : [&lt;groupingItem&gt;,... ]</span>,
}</pre>
</div>

<div class="text">With <em>hit</em> of the form</div>

<div class="code">
  <pre>{
  <span class="optional">"inside" : &lt;string&gt;</span>,
  <span class="optional">"insideLeft" : [&lt;groupingItem&gt;,... ]</span>,
  <span class="optional">"right" : [&lt;groupingItem&gt;,... ]</span>,
}</pre>
</div>

<div class="text">where <em>inside</em> is a comma seperated list 
of prefixes.</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'group' - 'hit'</button>
        <div class="json">{ 
          "response": 
            { "mtas": { 
                "group" : [{
                  "key": "group hit",
                  "field": "::exampleFieldMtas(fieldName)::",
                  "number": 3,
                  "query": {
                    "type": "cql",
                    "value": "[::exampleFieldMtasEscapedLemmaValue8(prefix1=\"value\")::]"
                  },
                  "grouping" :{
                    "hit": {
                      "inside": "::exampleFieldMtasPosPrefix(prefix2)::"
                    }
                  }
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get grouping over prefix <em>::exampleFieldMtasPosPrefix(prefix2)::</em> for 
      CQL query <em>[::exampleFieldMtasLemmaValue8(prefix1=\"value\")::]</em> 
      in <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'group' - 'variables'</button>
        <div class="json">{ 
          "response": 
            { "mtas": { 
                "group" : [{
                  "key": "group with variables",
                  "field": "::exampleFieldMtas(fieldName)::",
                  "number": 3,
                  "query": {
                    "type": "cql",
                    "value": "[::exampleFieldMtasWordPrefix(prefix1)::=$1]",
                    "variables" : {
                      "definitions" : [{
                        "name": "1",
                        "value": "::exampleFieldMtasWordPostfix0(value1)::,::exampleFieldMtasWordPostfix1(value2)::",
                        "expansion": {
                          "type": "explode"
                        }
                      }]  
                    }
                  },
                  "grouping" :{
                    "hit": {
                      "inside": "::exampleFieldMtasLemmaPrefix(prefix2)::"
                    }
                  }
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get grouping over prefix <em>::exampleFieldMtasPosPrefix(prefix2)::</em> for 
      CQL query <em>[::exampleFieldMtasLemmaValue8(prefix1=\"value\")::]</em> 
      in <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="text">And with <em>groupingItem</em> of the form</div>

<div class="code">
  <pre>{
  <span class="obligatory">"position" : &lt;string&gt; / &lt;integer&gt;</span>,
  <span class="obligatory">"prefixes" : &lt;string&gt;</span>,
}</pre>
</div>

<div class="text">where <em>position</em> is of the form <em>integer</em> 
or <em>integer</em>-<em>integer</em>
and <em>prefixes</em> is a comma seperated list of prefixes.</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'group' - 'hit' - 'insideLeft'</button>
        <div class="json">{ 
          "response": 
            { "mtas": { 
                "group" : [{
                  "key": "group hit",
                  "field": "::exampleFieldMtas(fieldName)::",
                  "number": 3,
                  "query": {
                    "type": "cql",
                    "value": "[::exampleFieldMtasEscapedLemmaValue3(prefix1=\"value1\")::] [::exampleFieldMtasEscapedPosValue2(prefix2=\"value2\")::]"
                  },
                  "grouping" :{
                    "hit": {
                      "insideLeft": [{
                        "position": "0-1",
                        "prefixes": "::exampleFieldMtasPosPrefix(prefix2)::"
                      },{
                        "position": "0",
                        "prefixes": "::exampleFieldMtasLemmaPrefix(prefix1)::"
                      }]  
                    }
                  }
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get <em>insideLeft</em> grouping over 
      prefix <em>::exampleFieldMtasPosPrefix(prefix2)::</em> and <em>::exampleFieldMtasLemmaPrefix(prefix1)::</em> for 
      CQL query <em>[::exampleFieldMtasLemmaValue3(prefix1="value1")::] [::exampleFieldMtasPosValue2(prefix2="value2")::]</em> 
      in <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'group' - 'right'</button>
        <div class="json">{ 
          "response": 
            { "mtas": { 
                "group" : [{
                  "key": "group hit",
                  "field": "::exampleFieldMtas(fieldName)::",
                  "number": 3,
                  "query": {
                    "type": "cql",
                    "value": "[::exampleFieldMtasEscapedLemmaValue3(prefix1=\"value1\")::] followedby [::exampleFieldMtasEscapedPosValue2(prefix2=\"value2\")::]"
                  },
                  "grouping" :{
                    "hit": {
                      "inside" : "::exampleFieldMtasLemmaPrefix(prefix1)::"
                    },
                    "right": [{
                        "position": "0",
                        "prefixes": "::exampleFieldMtasPosPrefix(prefix2)::"
                      } 
                    ]
                  }
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get <em>inside - hit</em> and <em>right</em> grouping over 
      prefix <em>::exampleFieldMtasPosPrefix(prefix2)::</em> and <em>::exampleFieldMtasLemmaPrefix(prefix1)::</em> for 
      CQL query <em>[::exampleFieldMtasLemmaValue3(prefix1="value1")::] followedby [::exampleFieldMtasPosValue2(prefix2="value2")::]</em> 
      in <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>