<div class="title">Mtas Prefix</div>

<div class="text">
  The mtas prefix section occurs within the <a data-tab="mtas">mtas</a> section,
  and describes mtas prefix that should be included in the
  response. The mtas prefix section is of the form
</div>

<div class="code">
  <pre>{
  <span class="obligatory">"field" : &lt;string&gt;</span>,
  <span class="optional">"key" : &lt;string&gt;</span>,
}</pre>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'basic'</button>
        <div class="json">{ 
          "response": 
            { "mtas": { 
                "prefix" : [{
                  "key": "list of prefixes",
                  "field": "::exampleFieldMtas(fieldName)::"                  
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get <em>prefixes</em> for field <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>