<div class="title">Mtas</div>

<div class="text">
  The mtas section occurs within the <a data-tab="response">response</a>,
  and describes mtas results that should be included in the
  response. The mtas section is of the form
</div>

<div class="code">
  <pre>{
  <span class="optional">"stats" : &lt;<a data-tab="mtas statistics">mtas statistics</a>&gt;</span>,
  <span class="optional">"document" : &lt;<a data-tab="mtas document">mtas document</a>&gt;</span>,
  <span class="optional">"kwic" : &lt;<a data-tab="mtas kwic">mtas kwic</a>&gt;</span>,
  <span class="optional">"list" : &lt;<a data-tab="mtas list">mtas list</a>&gt;</span>,
  <span class="optional">"termvector" : &lt;<a data-tab="mtas termvector">mtas termvector</a>&gt;</span>,
  <span class="optional">"facet" : &lt;<a data-tab="mtas facet">mtas facet</a>&gt;</span>,
  <span class="optional">"group" : &lt;<a data-tab="mtas group">mtas group</a>&gt;</span>,
  <span class="optional">"prefix" : &lt;<a data-tab="mtas prefix">mtas prefix</a>&gt;</span>,
  <span class="optional">"collection" : &lt;<a data-tab="mtas collection">mtas collection</a>&gt;</span>,
  <span class="optional">"version" : &lt;<a data-tab="mtas version">mtas version</a>&gt;</span>,
}</pre>
</div>
