<div class="title">Mtas Version</div>

<div class="text">
  The mtas version occurs within the <a data-tab="mtas">mtas</a> section,
  and is a boolean indicating whether or not <em>version</em> information should be included in the result. 
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'version'</button>
        <div class="json">{ "response": { "mtas": { "version" : true }}}</div>
      </td>
      <td class="text">Include version information in the response.
      </td>
    </tr>
  </table>
</div>

