<div class="title">Mtas List</div>

<div class="text">
  The mtas list section occurs within the <a data-tab="mtas">mtas</a> section,
  and describes keyword-in-context results that should be included in the
  response for the set of documents matching condition and filter. 
  The mtas list section is of the form
</div>

<br />

<div class="text">
  To get a keyword-in-context result for the listed documents instead of all documents
  matching the condition and filter, use <a data-tab="mtas kwic">mtas kwic</a>.
</div>

<div class="code">
  <pre>[
  {
    <span class="obligatory">"field" : &lt;field&gt;</span>,
    <span class="obligatory">"query" : &lt;query&gt;</span>,
    <span class="optional">"key" : &lt;string&gt;</span>,
    <span class="optional">"prefix" : &lt;string&gt;</span>,
    <span class="optional">"number" : &lt;integer&gt;</span>,
    <span class="optional">"start" : &lt;integer&gt;</span>,
    <span class="optional">"left" : &lt;integer&gt;</span>,    
    <span class="optional">"right" : &lt;integer&gt;</span>,    
    <span class="optional">"output" : "token" / "hit"</span>,
  },... 
]</pre>
</div>

<div class="text">A <em>query</em> is of the form</div>

<div class="code">
  <pre>{
  <span class="obligatory">"type" : &lt;string&gt;</span>,
  <span class="obligatory">"value" : &lt;string&gt;</span>,
  <span class="optional">"prefix" : &lt;string&gt;</span>,
  <span class="optional">"ignore" : &lt;string&gt;</span>,
  <span class="optional">"maximumIgnoreLength " : &lt;integer&gt;</span>,
  <span class="optional">"variables": &lt;variables&gt;</span>,
}</pre>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'list' - 'hit'</button>
        <div class="json">{ 
          "response": 
            { "mtas": { 
                "list" : [{
                  "field": "::exampleFieldMtas(fieldName)::",
                  "query": {
                    "type": "cql",
                    "value": "[::exampleFieldMtasEscapedWordValue0(prefix=\"value\")::]"
                  },
                  "start": 0,
                  "number": 2,
                  "left": 1,
                  "right": 2,
                  "prefix": "::exampleFieldMtasPosPrefix(prefix1)::,::exampleFieldMtasLemmaPrefix(prefix2)::",
                  "output" : "hit"  
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get list of type <em>hit</em> 
      with prefixes <em>::exampleFieldMtasPosPrefix(prefix1)::</em> and <em>::exampleFieldMtasLemmaPrefix(prefix2)::</em> 
      for <em>[::exampleFieldMtasWordValue0(prefix="value")::]</em> 
      in <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'list' - 'output'</button>
        <div class="json">{ 
          "response": 
            { "mtas": { 
                "list" : [{
                  "field": "::exampleFieldMtas(fieldName)::",
                  "query": {
                    "type": "cql",
                    "value": "\"::exampleFieldMtasWordPostfix1(value)::\"",
                    "prefix": "::exampleFieldMtasWordPrefix(prefix)::"
                  },
                  "start": 0,
                  "number": 2,
                  "left": 1,
                  "right": 2,
                  "prefix": "::exampleFieldMtasPosPrefix(prefix1)::,::exampleFieldMtasLemmaPrefix(prefix2)::",
                  "output" : "token"  
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get list of type <em>token</em> 
      with prefixes <em>::exampleFieldMtasPosPrefix(prefix1)::</em> and <em>::exampleFieldMtasLemmaPrefix(prefix)::</em> 
      for <em>"::exampleFieldMtasWordPostfix1(value)::"</em> with prefix <em>::exampleFieldMtasWordPrefix(prefix)::</em> 
      in <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="text">
  The optional <em>variables</em> is of the form
</div>

<div class="code">
  <pre>{
  <span class="obligatory">"definitions" : [</span>
    <span class="optional">{</span>
      <span class="obligatory">"name" : &lt;string&gt;,</span>
      <span class="obligatory">"value": &lt;string&gt;,</span>
      <span class="optional">"expansion" : &lt;<a data-tab="expansion">expansion</a>&gt;</span>
    <span class="optional">},...</span>
  <span class="obligatory">],</span>  
}</pre>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'list' - 'variables'</button>
        <div class="json">{ "response": 
            { "mtas": { 
                "list" : [{
                  "field": "::exampleFieldMtas(fieldName)::",
                  "query": {
                    "type": "cql", 
                    "value": "[::exampleFieldMtasLemmaPrefix(prefix)::=$1]",
                    "variables" : {
                      "definitions" : [{
                        "name": "1",
                        "value": "::exampleFieldMtasLemmaPostfix5(value1)::,::exampleFieldMtasLemmaPostfix6(value2)::",
                        "expansion": {
                          "type": "explode"
                        }
                      }]
                    }
                  },
                  "start": 0,
                  "number": 2,
                  "left": 1,
                  "right": 2,
                  "prefix": "::exampleFieldMtasWordPrefix(prefix1)::,::exampleFieldMtasPosPrefix(prefix2)::",
                  "output" : "hit"  
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get list of type <em>hit</em> 
      with prefixes <em>::exampleFieldMtasWordPrefix(prefix1)::</em> and <em>::exampleFieldMtasPosPrefix(prefix2)::</em> 
      for <em>[::exampleFieldMtasLemmaPrefix(prefix)::=$1]</em> in the field <em>::exampleFieldMtas(fieldName)::</em> 
      with variable <em>$1</em> defined by the explode expansion 
      of <em>::exampleFieldMtasLemmaPostfix5(value1)::,::exampleFieldMtasLemmaPostfix6(value2)::</em>.
      </td>
    </tr>
  </table>
</div>