<div class="title">Mtas Document</div>

<div class="text">
  The mtas document section occurs within the <a data-tab="mtas">mtas</a> section,
  and describes information on document level that should be included in the
  response for the listed documents. The mtas document section is of the form
</div>

<div class="code">
  <pre>[
  {
    <span class="obligatory">"field" : &lt;field&gt;</span>,
    <span class="obligatory">"prefix" : &lt;field&gt;</span>,
    <span class="optional">"key" : &lt;string&gt;</span>,
    <span class="optional">"type" : &lt;string&gt;</span>,
    <span class="optional">"regexp" : &lt;string&gt;</span>,
    <span class="optional">"ignoreRegexp" : &lt;string&gt;</span>,
    <span class="optional">"list" : [&lt;string&gt;,... ]</span>,
    <span class="optional">"listRegexp" : &lt;boolean&gt;</span>,    
    <span class="optional">"listExpand" : &lt;boolean&gt;</span>,    
    <span class="optional">"listExpandNumber" : &lt;boolean&gt;</span>,    
    <span class="optional">"ignoreList" : [&lt;string&gt;,... ]</span>,
    <span class="optional">"ignoreListRegexp" : &lt;boolean&gt;</span>,
  },... 
]</pre>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'document' - 'basic'</button>
        <div class="json">{ "response": 
            { "documents": { "start":
              0, "rows": 2, "fields": [ "::uniqueKey::", "::exampleFieldText(fieldName)::" ] },
              "mtas": { 
                "document" : [{
                  "field": "::exampleFieldMtas(fieldName)::",
                  "prefix": "::exampleFieldMtasPosPrefix(prefix)::"
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get statistics for <em>::exampleFieldMtasPosPrefix(prefix)::</em> 
      in <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'document' - 'number'</button>
        <div class="json">{ "response": 
            { "documents": { "start":
              0, "rows": 2, "fields": [ "::uniqueKey::", "::exampleFieldText(fieldName)::" ] },
              "mtas": { 
                "document" : [{
                  "key": "list of ::exampleFieldMtasLemmaPrefix(prefix)::",
                  "field": "::exampleFieldMtas(fieldName)::",
                  "prefix": "::exampleFieldMtasLemmaPrefix(prefix)::",
                  "number": 10
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get list and statistics for <em>::exampleFieldMtasLemmaPrefix(prefix)::</em> 
      in <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'document' - 'type'</button>
        <div class="json">{ "response": 
            { "documents": { "start":
              0, "rows": 2, "fields": [ "::uniqueKey::", "::exampleFieldText(fieldName)::" ] },
              "mtas": { 
                "document" : [{
                  "field": "::exampleFieldMtas(fieldName)::",
                  "prefix": "::exampleFieldMtasPosPrefix(prefix)::",
                  "type": "all"
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Get all statistics for <em>::exampleFieldMtasPosPrefix(prefix)::</em> 
      in <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'document' - 'full'</button>
        <div class="json">{ "response": 
            { "documents": { "start":
              0, "rows": 2, "fields": [ "::uniqueKey::", "::exampleFieldText(fieldName)::" ] },
              "mtas": { 
                "document" : [{
                  "key": "full example",
                  "field": "::exampleFieldMtas(fieldName)::",
                  "prefix": "::exampleFieldMtasLemmaPrefix(prefix)::",
                  "type": "all",
                  "number": 3,
                  "regexp" : ".*::exampleFieldMtasLemmaPostfix1(value1)::.*",
                  "ignoreRegexp" : "[a-z]{9}",
                  "list" : ["::exampleFieldMtasLemmaPostfix1(value1)::",".*::exampleFieldMtasLemmaPostfix2(value2)::","::exampleFieldMtasLemmaPostfix3(value3)::.*",".*::exampleFieldMtasLemmaPostfix4(value4)::.*"],
                  "listRegexp" : true,
                  "listExpand" : true,
                  "listExpandNumber": 3,
                  "ignoreList" : ["[a-z]{11}","[a-z]{10}"],
                  "ignoreListRegexp" : true
                }]
              }
            }
          }</div>
      </td>
      <td class="text">Full example for <em>::exampleFieldMtasLemmaPrefix(prefix)::</em> 
      in <em>::exampleFieldMtas(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>