<div class="title">Sort</div>

<div class="text">
  The sort occurs within a <a data-tab="introduction">request</a>, and
  is an array of <a data-section="sortitem">sortitems</a>.
</div>

<hr />

<div class="subtitle" data-section="sortitem">Sortitems</div>

<div class="text">A <em>sortitem</em> is of the form</div>

<div class="code">
  <pre>{
  <span class="obligatory">"field" : &lt;field&gt; / &lt;fieldfunction&gt;</span>,
  <span class="optional">"direction" : "asc" / "desc"</span>,
}</pre>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'sort' - 'direction'</button>
        <div class="json">{ "sort" : [{"field" : "::exampleFieldInteger(fieldName1)::", "direction": "desc"},
        {"field" : "::exampleFieldText(fieldName2)::", "direction": "asc"}], 
        "response": { "documents": { "start":
          0, "rows": 10, "fields": [ "::uniqueKey::", "::exampleFieldInteger(fieldName)::" ] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> for
        the first 10 documents, sorted descending by <em>::exampleFieldInteger(fieldName1)::</em> and
        ascending by <em>::exampleFieldText(fieldName2)::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'sort' - 'function'</button>
        <div class="json">{ "sort" : [
        {"field" : "termfreq(\"::exampleFieldText(fieldName)::\",\"::exampleFieldTextValue1(word)::\")", "direction": "desc"}], 
        "response": { "documents": { "start":
          0, "rows": 10, "fields": [ "::uniqueKey::", "::exampleFieldText(fieldName)::", "tf:termfreq(\"::exampleFieldText(fieldName)::\",\"::exampleFieldTextValue1(word)::\")" ] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> for
        the first 10 documents, sorted descending by term frequency of <em>::exampleFieldTextValue1(word)::</em> in <em>::exampleFieldText(fieldName)::</em>.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'sort' - 'score'</button>
        <div class="json">{ "condition" : { "type": "or", "list"
          :[ {"type": "equals", "field":
          "::exampleFieldText(fieldName)::",
          "value":"::exampleFieldTextValue0(word1)::"}, {"type":
          "equals", "field": "::exampleFieldText(fieldName)::",
          "value":"::exampleFieldTextValue1(word2)::"} ]},
          "sort" : [
        {"field" : "score", "direction": "desc"}], 
        "response": { "documents": { "start":
          0, "rows": 10, "fields": [ "::uniqueKey::", "::exampleFieldText(fieldName)::", "score" ] }}  }</div>
      </td>
      <td class="text">Get unique key <em>::uniqueKey::</em> for
        the first 10 documents, sorted descending by score.
      </td>
    </tr>
  </table>
</div>

