<div class="title">Debug</div>

<div class="text">
  The debug occurs within a <a data-tab="introduction">request</a>, and
  is a string equal to <em>timing</em>, <em>results</em> or <em>query</em>.
</div>

<hr />

<div class="text">
  See also the general <a
    href="https://cwiki.apache.org/confluence/display/solr/Common+Query+Parameters"
    target="_blank">Solr documentation</a> on for more information.
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'debug' - 'timing'</button>
        <div class="json">{ "debug" : "timing", "response": { "documents": { "start":
          0, "rows": 10, "fields": [ "::uniqueKey::" ] }}  }</div>
      </td>
      <td class="text">Get <em>timing</em> debug information for basic query.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'debug' - 'results'</button>
        <div class="json">{ "debug" : "results", "response": { "documents": { "start":
          0, "rows": 10, "fields": [ "::uniqueKey::" ] }}  }</div>
      </td>
      <td class="text">Get <em>timing</em> debug information for basic query.
      </td>
    </tr>
  </table>
</div>

<div class="example">
  <table>
    <tr>
      <td class="button">
        <button class="json">Example 'debug' - 'query'</button>
        <div class="json">{ "debug" : "query", "response": { "documents": { "start":
          0, "rows": 10, "fields": [ "::uniqueKey::" ] }}  }</div>
      </td>
      <td class="text">Get <em>timing</em> debug information for basic query.
      </td>
    </tr>
  </table>
</div>
