body {
	background-color: #FFFFFF;
	margin: 0px;
}

div#header {
	background-color: #EEEEEE;
	height: 100px;
	overflow: hidden;
	border-color: #000000;
	border-width: 1px;
	border-style: none none solid none;
}

div#header div.title {
	height: 60px;
}

div#header div.title div.logo {
	height: 45px;
	line-height: 40px;
	color: FF0000;
	font-size: 45px;
	float: right;
	margin: 15px 40px 0 10px;
	text-transform: uppercase;
}

div#header div.menu {
	padding: 0 40px 0 40px;
	height: 40px;
	text-transform: capitalize;
}

div#header div.menu div.item {
	float: left;
	height: 37px;
	text-align: center;
	line-height: 40px;
	margin: 0 10px 0 0;
	padding: 0 5px 0 5px;
	color: #C0C0C0;
	font-weight: bold;
	font-size: 125%;
	cursor: pointer;
}

div#header div.menu div.right {
	float: right;
	margin: 0 0 0 10px;
}

div#header div.menu div.item:hover {
	color: #000000;
}

div#header div.menu div.selected {
	color: #000000;
	border-style: none none solid none;
	border-color: #000080;
	border-width: 3px;
}

div#message {
	background-color: #FEFEFE;
	margin: 60px auto;
	border: 1px solid #000000;
	padding: 10px;
	width: 200px;
	text-align: center;
}

div#login {
	background-color: #FEFEFE;
	margin: 60px auto;
	border: 1px solid #000000;
	padding: 10px;
	width: 200px;
}

div#login label {
	display: block;
}

div#login input {
	width: 188px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #C0C0C0;
	margin: 0 0 5px 0;
	padding: 0 5px 0 5px;
	font-size: 15px;
}

div#login button {
	background-color: #C0C0C0;
	border: none;
	height: 30px;
	margin: 10px 0 0 0;
	font-weight: bold;
	font-size: 15px;
}

div#content {
	padding: 10px 40px 0 40px;
}

div#content div.title {
	font-size: 125%;
	margin: 0 0 10px 0;
}

div#content div.subtitle {
	font-size: 110%;
	margin: 0 0 10px 0;
}

div#content div.editor textarea {
	width: 100%;
	height: 300px;
	border-style: solid;
	border-color: #555555;
	border-width: 1px;
	background-color: #F5F5F5;
	padding: 5px;
	line-height: 125%;
	margin-bottom: 10px;
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: vertical;
}

div#content div.editor textarea.badjson {
	background-color: rgba(255, 0, 0, 0.3);
}

div#content div.editor div.menu button {
	border-style: solid;
	border-color: #555555;
	border-width: 1px;
	background-color: #F5F5F5;
	cursor: pointer;
	height: 25px;
}

div#content div.editor div.menu button.left {
	margin: 0 10px 0 0;
}

div#content div.editor div.menu button.right,
div#content div.editor div.menu input.right {
	float: right;
	margin: 0 0 0 10px;
}

div#content div.editor div.menu input.checkbox {
  border-style: solid;
  border-color: #555555;
  border-width: 1px;
  background-color: #F5F5F5;
  cursor: pointer;
  height: 25px;
  margin: 0px;
}

div#content div.editor div.menu button.send, div#content div.editor div.menu button.enabled
	{
	border-color: #000080;
	background-color: #000080;
	color: #FFFFFF;
}

div#content div.status {
	margin: 20px 0 0 0;
}

div#content div.status div.request {
	border-style: solid;
	border-color: #555555;
	border-width: 1px;
	margin: 10px 0 0 0;
	background-color: #FFFFCC;
}

div#content div.status div.request.errors {
	color: #FFFFFF;
	background-color: #FF0000;
}

div#content div.status div.progress {
	border-style: solid;
	border-color: #555555;
	border-width: 1px;
	padding: 5px;
	margin: 10px 0 0 0;
	background-color: #FF0000;
	color: #FFFFFF;
}

div#content div.status div.text {
	font-size: 75%;
}

div#content div.response {
	margin: 20px 0 0 0;
}

div#content pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	font-family: monospace;
	font-size: 85%;
	line-height: 110%;
}

div#content div.response div.content, div#content div.response div.error
	{
	border-style: solid;
	border-color: #555555;
	border-width: 1px;
	margin: 10px 0 0 0;
}

div#content div.response div.content {
	background-color: #FFFFCC;
}

div#content div.response div.error {
	color: #FFFFFF;
	background-color: #FF0000;
}

div#content div.collapsable div.description {
	font-size: 75%;
	padding: 5px;
}

div#content div.collapsable div.descriptionStatus {
	float: left;
	width: 15px;
}

div#content div.collapsable div.descriptionTitle {
	float: left;
}

div#content div.collapsable div.descriptionSeparator {
	float: left;
	margin: 0 5px 0 5px;
}

div#content div.collapsable div.descriptionInfo {
	height: 15px;
}

div#content div.collapsable div.text {
	border-style: solid none none none;
	border-color: #555555;
	border-width: 1px;
	background-color: #FFFFFF;
	color: #000000;
	padding: 5px;
}

div#content div.collapsable div.text div:before {
	content: "• ";
}

div#content div.test {  
	margin: 0 0 20px 0;
}

div#content div.test div.controls button {
  border-style: solid;
  border-color: #555555;
  border-width: 1px;
  background-color: #F5F5F5;
  cursor: pointer;
  height: 25px;
}

div#content div.test div.controls button.left {
  margin: 0 10px 0 0;
}

div#content div.test table {
	width: 100%;	
	border-collapse: collapse;
}

div#content div.test table td {
	vertical-align: top;
	border: solid 1px #555555;
	padding: 5px;
}	

div#content div.test table td.time {
  width: 90px;
}

div#content div.test table td.warnings,
div#content div.test table td.errors {
  width: 30px;
}

div#content div.test table td.error {
  background-color: #FF0000;
  color: #FFFFFF;
}

div#content div.test table td.ready {
  background-color: #FFFFE0;
}

div#content div.test div.status {
  margin: 0 0 10px 0;
}

div#content div.test div.errors {
  margin: 0 0 10px 0;
}

div#content div.test div.errors table {
	background-color: #FFEEEE;
}

div#content div.examples {
	margin: 30px 0 0 0;
}

div#content div.examples div.content {
	border-style: solid none none none;
	border-color: #555555;
	border-width: 1px;
	padding: 5px 0 5px 0;
}

div#content div.examples div.content div.menu {
	float: left;
	width: 150px;
	overflow-x: hidden;
	margin-bottom: 20px;
}

div#content div.examples div.content div.menu div.item {
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 5px;
	cursor: pointer;
	text-transform: capitalize;
}

div#content div.examples div.content div.menu div.item:hover {
	background-color: #F5F5F5;
	font-weight: bold;
}

div#content div.examples div.content div.menu div.item.selected, div#content div.examples div.content div.menu div.item.sectionSelected
	{
	background-color: #F5F5F5;
}

div#content div.examples div.content div.menu div.item.selected {
	font-weight: bold;
	border-style: none solid none none;
	border-color: #000080;
	border-width: 3px;
}

div#content div.examples div.content div.menu div.item.subitem {
	font-size: 80%;
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
}

div#content div.examples div.content div.menu div.item.subsubitem {
	font-size: 80%;
	height: 20px;
	line-height: 20px;
	padding-left: 20px;
}

div#content div.examples div.content div.details {
	margin-left: 150px;
	padding: 5px 5px 5px 15px;
}

div#content div.examples div.content div.details a {
	text-decoration: none;
	font-weight: bold;
	color: #000080;
	cursor: pointer;
}

div#content div.examples div.content div.details div.warning {
  border: 1px solid #000000;
  background: #FF0000;
  color: #FFFFFF;
  padding: 5px;
  margin: 0 10px 10px 10px;
}

div#content div.examples div.content div.details table.table {
	border-collapse: collapse;
}

div#content div.examples div.content div.details table.table tr.title td
	{
	font-weight: bold;
	background-color: #F0F0F0;
}

div#content div.examples div.content div.details table.table td {
	padding: 5px;
	border: solid 1px #000000;
	vertical-align: top;
}

div#content div.examples div.content div.details table.table td.centered
	{
	text-align: center;
}

div#content div.examples div.content div.details table.table td.right {
	text-align: right;
}

div#content div.examples div.content div.details div.important {
	margin: 10px;
	padding: 10px;
	border: solid 1px #000000;
	background-color: #FFFFCC;
}

div#content div.examples div.content div.details div.example {
	margin: 10px;
	border: solid 1px #000000;
	background-color: #FFFFCC;
	min-height: 45px;
}

div#content div.examples div.content div.details div.example button {
	float: left;
	margin: 10px;
}

div#content div.examples div.content div.details div.example div.text {
	margin-left: 150px;
	padding: 5px;
}

div#content div.examples div.content div.details button {
	border: solid 1px #555555;
	background-color: #F5F5F5;
	cursor: pointer;
	min-height: 25px;
}

div#content div.examples div.content div.details div.json {
	display: none;
}

div#content div.examples div.content div.details div.code {
	margin: 10px;
	padding: 5px;
	background-color: #F0F0F0;
	border: solid 1px #000000;
}

div#content div.examples div.content div.details div.code pre {
	margin: 0px;
	padding: 0px;
}

div#content div.examples div.content div.details div.code span.optional
	{
	color: #555555;
}

div#content div.examples div.content div.details div.code span.obligatory {
	font-weight: bold;
}

div#content div.examples div.content div.details hr {
	border: solid 0px #000000;
	height: 1px;
	color: #000000;
	background-color: #000000;	
	margin-top: 20px;
}

div#content div.info {
  margin: 30px 0 0 0;
}

div#content div.info table {
  width: 100%;  
  border-collapse: collapse;
}

div#content div.info table td {
  vertical-align: top;
  border: solid 1px #555555;
  padding: 5px;
} 

div#content div.info table tr.title td {
  font-weight: bold;
}

div#content div.info table td.time {
  width: 90px;
}

div#content div.info button {
  border-style: solid;
  border-color: #555555;
  border-width: 1px;
  background-color: #F5F5F5;
  cursor: pointer;
  height: 25px;
}

div#content div.info input.text {
	min-width: 80%;
}

div#content div.mapping div.tabs {
	border-style: none none none solid;
  border-color: #555555;
  border-width: 1px;
  height: 30px;
}
div#content div.mapping div.tabs div.tab {
	border-style: solid solid none none;
  border-color: #555555;
  border-width: 1px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: #C0C0C0;
  cursor: pointer;
  float: left;
}
div#content div.mapping div.tabs div.selected,
div#content div.mapping div.tabs div:hover {
	color: #000000;
}	

div#content div.mapping div.mappingcontent {
	border-style: solid;
  border-color: #555555;
  border-width: 1px;
  background-color: #F5F5F5;
  min-height: 300px;
}

div#content div.mapping div.mappingblock {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  background-color: #FFFFFF;
  min-width: 25%;
  height: 30px;
  margin: 10px;
  padding: 4px 10px 0 10px;
  float: left;
}
div#content div.mapping div.right {
	border-style: solid;
  border-color: #000000;
  border-width: 1px;
  background-color: #FFFFFF;
  min-width: 25%;
  height: 246px;
  margin: 10px;
  padding: 4px 10px 0 10px;
	float: right;
}
	
div#content div.mapping div.mappingblock input,
div#content div.mapping div.mappingblock select {
	border-style: solid;
  border-color: #555555;
  border-width: 1px;
  height: 25px;
  padding: 0 5px 0 5px;
  background-color: #FFFFFF;
  width: 90%;
}
div#content div.mapping div.textarea {
	clear: left;
	border-style: solid;
  border-color: #555555;
  border-width: 1px;
  margin: 2px 10px 10px 10px;
  padding: 0px;
  overflow: hidden;
}
div#content div.mapping div.textarea textarea {
	border-style: none;
	border-width: 0px;
	width: 100%;
	height: 200px;
}
div#content div.mapping div.buttons {
	margin: 2px 10px 10px 10px;	
}
div#content div.mapping div.buttons button.send {
	border-color: #000080;
  background-color: #000080;
  color: #FFFFFF;
  margin-left: 5px;
}
